/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


header {
  background-color: #121212;
  height: 56px;
  width: 100%;
  top: 0;
  font-size: 14px;
  font-weight: 500;
}

nav {
  height: 100%;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

ul.navbar {
  width: 100%;
  margin: 0px auto;
  padding: 0.25rem;
}

.navbar li {
  text-align: center;
  padding: 0.75rem
}

ul:first-child img {
  height: 32px;
  vertical-align: middle;
}

.navbar>li:nth-child(3) {
  flex-grow: 1;
}

.navbar>li:nth-child(4),
.navbar>li:nth-child(6) {
  display: none;
}

.navbar>li:hover:nth-child(2),
.navbar>li:hover:nth-child(4),
.navbar>li:hover:nth-child(6),
.navbar>li:hover:nth-child(7) {
  background-color: #232323;
  padding: 0.8em;
  border-radius: 5px;;
}

.menu a{
  display: none;
  float: right;
}

.navbar>li:nth-child(7) {
  white-space: nowrap;  
}


/*Searchbar*/

form.searchbar {
  border-radius: 5px;
  background-color: #FFFFFF;
  display: flex;
  padding: 0;
  align-items: center;
  visibility: hidden;
  float: right;
}

form.searchbar input {
  height: 2rem;
  width: 100%;
  padding-left: 0.5rem;
  float: left;
  border: none;
  background: none;
  outline: none;
}

form.searchbar button {
  width: 48px;
  background: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  cursor: pointer;
  float: right;
  justify-content: center;
  align-items: center;
  visibility: visible;
}


/*Hamburger menu*/
.menu {
  max-width: 40px;
}

.hamburger {
  max-width: 18px;
  position: relative;
  float: left;
  margin: 0 6px 0 0
}

.hamburger div {
  width: 18px;
  height: 2px;
  background-color: #919191;
  margin: 3px 0;
}


/*single bar*/
.singlebar {
  width: 2px;
  height: 32px;
  background-color: #383838;
  margin: 0px 0.5rem;
  display: none;
}


@media screen and (min-width: 600px) {

  ul.navbar {
    padding: 0px 0.75rem;
  }

  form.searchbar {
    visibility: visible;
    float: unset;
  }

  form.searchbar input {
    display: flex;
  }

  form.searchbar button {
    color: gray;
  }

  .navbar>li:nth-child(1) {
    padding: 0.75rem
  }

  .singlebar{
    display: flex;
  }

}


@media screen and (min-width: 1024px) {

  .navbar>li:nth-child(4),
  .navbar>li:nth-child(6) {
    display: block;
  }

  ul.navbar {
    max-width: 1024px;
  }

  .menu {
    max-width: 100%;
  }

  .menu a {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .navbar>li:nth-child(2) {
    order: -1;
  }

  .hamburger div {
    background-color: #FFFFFF;
  }

  .menu a {
    display: none;
  }

  .menu {
    margin: 10px;
  }

}


@media screen and (min-width: 1280px) {
  ul.navbar {
    max-width: 1280px;
  }
}




/*Main*/

.gridbox1{
  background-color: tomato;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-height: 640px;
  height: 100%;
}

@media screen and (min-width: 1024px){
  .gridcontainer {
    max-width: 1024px;;
  }
}